:root {
    --neversink-title-font: 'Tsukushi A Round Gothic', sans-serif;
    --neversink-main-font: 'Tsukushi A Round Gothic', sans-serif;
    --neversink-mono-font: 'Fira Code', monospace;
    --neversink-quote-font: 'Fira Code', monospace;
  }
